

main {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1{
    text-decoration: underline #f97316;
}

.orders-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



